/* statuses */
.status{
	font-weight:500;
}
.open{
	color:#41ad7c;
}
.soon, .ontime{
	color:#1CA1C1;
}
.last{
	color:#FF5C4C;
}
.landed{
	color:rgb(243, 166, 1);
}
/* notifications list */
.notifications .webix_list_item{
	line-height:20px;
	padding:10px;
}
.notifications .webix_list_item .m_title{
	font-weight:500;
}
.notifications .webix_list_item .message{
	display:block;
}
/* deals dataview */
.deals{
	background-size:396px 200px !important;
	background-repeat:no-repeat !important;
	height:200px;
}
.p_title{
	color:ivory;
	font-weight:500;
	font-size:24px;
	padding:10px 0px 0px 15px;
}
.p_message{
	color:white;
	font-weight:500;
	line-height:20px;
	padding-left: 15px;
	position: relative;
	bottom:-130px;
}
.book_flight:hover{
	text-decoration: underline;
}